# Ensure package-lock is generated with exact versions
package-lock=true
save-exact=true

# Use the latest npm
engine-strict=true

# Use the node version specified in package.json
node-version=20

# Set the default branch to main
init.defaultBranch=main
